
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- font google -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />

        <!-- css -->
        <link rel="stylesheet" href="../css/css-404/style.css">

        <title>404 - Trang không tìm thấy</title>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="white">
                    <div>
                        <p class="error">
                            Lỗi 404
                        </p>
                        <h1 class="sorry">
                            Rất tiếc, trang bạn đang tìm kiếm không tồn tại
                        </h1>
                        <a href="/home" class="btn">
                            Quay lại trang chủ
                        </a>
                    </div>
                </div>
                <div class="orange">
                    <img src="../images/404.png" alt="">
                </div>
            </div>
            <div class="contact">
                <a href="tel:+84123456789">(+84) 123 456 789</a> | <a href="mailto:contact@letfood.com">contact@letfood.com</a>
            </div>
        </div>
    </body>
</html>
