<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->
      <link rel="stylesheet" href="../css/css-adminProducts/style.css" />

      <!-- alert -->
      <link rel="stylesheet" href="../css/css-alert/style.css" />

      <title>Admin - Products</title>
   </head>
   <body>
      <div class="root">
         <nav class="navbar">
            <div class="logo">
               <img src="../images/logo.png" alt="logo" />
            </div>

            <div class="navbar__menu">
               <a href="" class="navbar__item">
                  <i class="fas fa-plus"></i>
                  <span class="navbar__item-text"> Thêm sản phẩm </span>
               </a>
               <a href="" class="navbar__item">
                  <i class="fas fa-pen"></i>
                  <span class="navbar__item-text"> Sửa sản phẩm </span>
               </a>
            </div>
         </nav>
         <div class="container">
            <!-- thêm sản phẩm -->
            <div class="add__product">
               <h3 class="title">Thêm sản phẩm</h3>
               <form action="/product/create" class="form" method="POST">
                  <div class="form__group">
                     <label for="name" class="form__label">Tên sản phẩm</label>
                     <input type="text" class="form__input" id="name" name="name"/>
                  </div>
                  <div class="form__group">
                     <label for="price" class="form__label">Giá sản phẩm</label>
                     <input type="text" class="form__input" id="price" name="price" />
                  </div>
                  <div class="form__group">
                     <label for="image" class="form__label">Link ảnh sản phẩm</label>
                     <input type="url" class="form__input" id="image" name="image"/>
                  </div>
                  <div class="form__group">
                     <label for="description" class="form__label">Mô tả sản phẩm</label>
                     <textarea
                        name="description"
                        id="description"
                        cols="30"
                        rows="10"
                        class="form__input"></textarea>
                  </div>
                  <div class="form__group">
                     <label for="description" class="form__label">Nguyên liệu sản phẩm</label>
                     <textarea
                        name="ingredient"
                        id="ingredient"
                        cols="30"
                        rows="10"
                        class="form__input"></textarea>
                  </div>
                  <div class="form__group">
                     <label for="description" class="form__label">Cách chế biến</label>
                     <textarea
                        name="process"
                        id="process"
                        cols="30"
                        rows="10"
                        class="form__input"></textarea>
                  </div>
                  <div class="form__group">
                     <button class="btn btn__add" type="submit">Thêm sản phẩm</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

      <!-- alert -->
      <% if(message.length > 0) { %>
      <div class="alert">
         <div class="alert-error alert__container">
            <div class="alert-error__icon alert__icon">
               <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="alert-error__content alert__content">
               <p class="alert-error__desc alert__desc"><%= message %></p>
            </div>
            <div class="alert__icon alert__icon-close">
               <i class="fas fa-times"></i>
            </div>
         </div>
      </div>
      <% } %>

      <!-- font awesome -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>
      <!-- javascript alert -->
      <script src="../javascript/alert.js"></script>
   </body>
</html>
