<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->
      <link rel="stylesheet" href="../css/css-adminProducts/style.css" />

      <title>Admin - Products</title>
   </head>
   <body>
      <div class="root">
         <nav class="navbar">
            <div class="logo">
               <img src="../images/logo.png" alt="logo" />
            </div>

            <div class="navbar__menu">
               <a href="" class="navbar__item">
                  <i class="fas fa-plus"></i>
                  <span class="navbar__item-text"> Thêm sản phẩm </span>
               </a>
               <a href="" class="navbar__item">
                  <i class="fas fa-pen"></i>
                  <span class="navbar__item-text"> Sửa sản phẩm </span>
               </a>
            </div>
         </nav>
         <div class="container">
            <!-- thêm sản phẩm -->
            <!-- <div class="add__product">
               <h3 class="title">
                  Thêm sản phẩm
               </h3>
               <form action="" class="form">
                  <div class="form__group">
                     <label for="name" class="form__label">Tên sản phẩm</label>
                     <input type="text" class="form__input" id="name" />
                  </div>
                  <div class="form__group">
                     <label for="price" class="form__label">Giá sản phẩm</label>
                     <input type="text" class="form__input" id="price" />
                  </div>
                  <div class="form__group">
                     <label for="image" class="form__label">Link ảnh sản phẩm</label>
                     <input type="url" class="form__input" id="image" />
                  </div>
                  <div class="form__group">
                     <label for="description" class="form__label">Mô tả sản phẩm</label>
                     <textarea name="" id="description" cols="30" rows="10" class="form__input"></textarea>
                  </div>
                  <div class="form__group">
                     <button class="btn btn__add">Thêm sản phẩm</button>
                  </div>
               </form>
            </div> -->
            
            <!-- sửa xóa thông tin sản phẩm -->
            <div class="edit__product">
               <h3 class="title">
                  Sửa thông tin sản phẩm
               </h3>
               <div class="edit__product__list">
                  <div class="edit__product__item">
                     <div class="edit__product__content">
                        <div class="edit__product__block">
                           <label for="" class="edit__product__label">
                              Link hình ảnh
                           </label>
                           <input type="url" class="edit__product__input" />
                        </div>
                        <div class="edit__product__block">
                           <label for="" class="edit__product__label">
                              Tên sản phẩm
                           </label>
                           <input type="text" class="edit__product__input" />
                        </div>
                        <div class="edit__product__block">
                           <label for="" class="edit__product__label">
                              Giá sản phẩm
                           </label>
                           <input type="url" class="edit__product__input" />
                        </div>
                        <div class="edit__product__block">
                           <label for="" class="edit__product__label">
                              Mô tả sản phẩm
                           </label>
                           <input type="url" class="edit__product__input" />
                        </div>
                     </div>
                     <div class="edit__product__item__action">
                        <button class="btn btn__edit">Sửa</button>
                        <button class="btn btn__delete">Xóa</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- font awesome -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>
   </body>
</html>
