<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->
      <link rel="stylesheet" href="../css/css-FAQ/style.css" />

      <title>FAQ</title>
   </head>
   <body>
      <div class="root">
         <div class="container">
            <nav class="navbar">
               <a href="/home" class="logo">
                  <span class="logo__text"> Let'sFood </span>
                  <svg
                     width="43"
                     height="35"
                     viewBox="0 0 43 35"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M17.0996 4.83496C17.5835 4.83498 18.0479 4.64398 18.3917 4.30347C18.7355 3.96297 18.9309 3.50051 18.9356 3.01665C18.9403 2.53248 18.7536 2.06605 18.4161 1.71889C18.0785 1.37174 17.6175 1.17197 17.1334 1.16309M16.941 8.48921C16.4571 8.48923 15.9928 8.29823 15.649 7.95772C15.3052 7.61722 15.1097 7.15476 15.1051 6.6709C15.1003 6.18673 15.2871 5.7203 15.6246 5.37314C15.9621 5.02599 16.4231 4.82622 16.9072 4.81734M17.0996 12.1611C17.5835 12.1611 18.0479 11.9701 18.3917 11.6296C18.7355 11.2891 18.9309 10.8266 18.9356 10.3428C18.9403 9.85861 18.7536 9.39217 18.4161 9.04502C18.0785 8.69786 17.6175 8.4981 17.1334 8.48921M24.4434 4.83496C24.9273 4.83498 25.3916 4.64398 25.7354 4.30347C26.0792 3.96297 26.2747 3.50051 26.2793 3.01665C26.2841 2.53248 26.0973 2.06605 25.7598 1.71889C25.4223 1.37174 24.9613 1.17197 24.4772 1.16309M24.2848 8.48921C23.8009 8.48923 23.3366 8.29823 22.9928 7.95772C22.649 7.61722 22.4535 7.15476 22.4488 6.6709C22.4441 6.18673 22.6308 5.7203 22.9683 5.37314C23.3059 5.02599 23.7669 4.82622 24.251 4.81734M24.4434 12.1611C24.9273 12.1611 25.3916 11.9701 25.7354 11.6296C26.0792 11.2891 26.2747 10.8266 26.2793 10.3428C26.2841 9.85861 26.0973 9.39217 25.7598 9.04502C25.4223 8.69786 24.9613 8.4981 24.4772 8.48921M10.3243 4.83496C10.8082 4.83498 11.2725 4.64398 11.6163 4.30347C11.9601 3.96297 12.1556 3.50051 12.1602 3.01665C12.165 2.53273 11.9784 2.06651 11.6412 1.7194C11.304 1.37229 10.8434 1.17235 10.3595 1.16309M10.1671 8.48921C9.68326 8.48923 9.21893 8.29823 8.87513 7.95772C8.53133 7.61722 8.33585 7.15476 8.3312 6.6709C8.32647 6.18698 8.51299 5.72076 8.8502 5.37365C9.18741 5.02654 9.64804 4.8266 10.1319 4.81734M10.3243 12.1611C10.8082 12.1611 11.2725 11.9701 11.6163 11.6296C11.9601 11.2891 12.1556 10.8266 12.1602 10.3428C12.165 9.85886 11.9784 9.39264 11.6412 9.04553C11.304 8.69841 10.8434 8.49848 10.3595 8.48921"
                        stroke="#FAA41A"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                     <path
                        d="M11.0396 33.8369H24.2554V29.4659C21.4398 30.7085 19.7992 30.9023 17.5168 30.9493C14.663 31.0081 12.7286 30.5146 11.0396 30.0916V33.8369Z"
                        stroke="#383747"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                     <path
                        d="M34.2811 18.0126C31.8136 27.2275 22.3827 32.6957 13.1678 30.2267C10.2434 29.4459 7.57664 27.9078 5.43636 25.7675C3.29608 23.6272 1.75798 20.9604 0.977173 18.0361L34.2811 18.0126Z"
                        fill="#FAA41A"
                        stroke="#383747"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                     <path
                        d="M0.968353 15.0677H34.2869V18.0919H0.968353V15.0677Z"
                        stroke="#383747"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                     <path
                        d="M22.49 15.0589C33.9462 15.5113 31.066 7.34799 39.5333 6.61067C40.3705 6.53724 40.8111 6.52108 41.9861 6.59598L42.0302 6.5813C40.5688 5.7118 37.8751 4.24011 35.6265 4.86433C34.4764 5.18452 32.6846 6.4212 31.4846 8.77855C28.4634 15.3938 25.5215 15.0457 23.1274 15.0575L22.49 15.0589Z"
                        stroke="#383747"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                     <path
                        d="M29.5399 20.6079C28.5001 23.7804 25.7168 25.9835 22.4855 26.5828"
                        stroke="white"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                  </svg>
               </a>
               <h2 class="title_page">FAQ</h2>
            </nav>

            <section>
               <div class="main">
                  <h2 class="title">Các câu hỏi thường gặp</h2>
                  <div class="content">
                     <div class="question">
                        <h3 class="question-title">
                           Tôi có thể đặt hàng trực tiếp tại cửa hàng không?
                        </h3>
                        <p class="question-content">
                           Hiện tại, chúng tôi chỉ bán hàng trực tuyến. Tuy nhiên, nếu bạn có nhu
                           cầu đặt hàng trực tiếp qua website
                           <a href="http://localhost:3000" class="question-link">letsfood.click</a>,
                           hoặc vui lòng liên hệ với chúng tôi qua số điện thoại 0123456789 / email:
                           <a href="mailto:contact@letsfood.click" class="question-link">
                              contact@letsfood.click</a
                           >
                        </p>
                     </div>
                     <div class="question">
                        <h3 class="question-title">Chính sách bảo mật</h3>
                        <p class="question-content">
                           Chúng tôi cam kết bảo mật thông tin của bạn. Thông tin của bạn sẽ được
                           bảo mật và chỉ được sử dụng để liên lạc với bạn trong quá trình giao
                           hàng.
                        </p>
                     </div>
                     <div class="question">
                        <h3 class="question-title">Tôi có thể đổi trả sản phẩm không?</h3>
                        <p class="question-content">
                           Nếu sản phẩm bạn nhận được không đúng với đơn hàng, hoặc sản phẩm bị lỗi,
                           bạn có thể đổi trả sản phẩm trong vòng 1 tiếng kể từ lúc nhận được hàng.
                           Vui lòng liên hệ với chúng tôi qua số điện thoại 0123456789 / email:
                           <a href="mailto:contact@letsfood.click" class="question-link">
                              contact@letsfood.click</a
                           >
                        </p>
                     </div>
                     <div class="question">
                        <h3 class="question-title">Tôi có thể hủy đơn hàng không?</h3>
                        <p class="question-content">
                           Nếu bạn muốn hủy đơn hàng, vui lòng liên hệ với chúng tôi qua số điện
                           thoại 0123456789 / email:
                           <a href="mailto:contact@letsfood.click" class="question-link">
                              contact@letsfood.click</a
                           >
                        </p>
                     </div>
                     <div class="question">
                        <h3 class="question-title">Tôi có thể đổi địa chỉ giao hàng không?</h3>
                        <p class="question-content">
                           Nếu bạn muốn thay đổi địa chỉ giao hàng của mình, có thể truy cập vào
                           trang thông tin người dùng để thay đổi địa chỉ giao hàng. Nếu bạn muốn
                           thay đổi địa chỉ giao hàng sau khi đặt hàng, vui lòng liên hệ với chúng
                           tôi qua số điện thoại 0123456789 / email:
                           <a href="mailto:contact@letsfood.click" class="question-link">
                              contact@letsfood.click</a
                           >
                        </p>
                     </div>
                     <div class="question">
                        <h3 class="question-title">Vận chuyển và giao hàng</h3>
                        <p class="question-content">
                           Chúng tôi sẽ giao hàng tận nơi cho bạn trong vòng 1 tiếng kể từ lúc đặt
                           hàng. Và về đơn vị vận chuyển, chúng tôi sẽ sử dụng dịch vụ vận chuyển
                           của GrabFood.
                        </p>
                     </div>
                     <div class="footer">
                        <p class="footer-text">
                           Let's Food luôn sẵn sàng hỗ trợ bạn. Nếu bạn có bất kỳ câu hỏi nào hay ý
                           kiến đóng góp, vui lòng liên hệ với chúng tôi qua số điện thoại
                           0123456789 / email:
                           <a href="mailto:contact@letsfood.click" class="question-link">
                              contact@letsfood.click</a
                           >
                        </p>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>

      <!-- font awesome -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>
   </body>
</html>
