<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->
      <link rel="stylesheet" href="../css/css-forgetPassword/style.css" />
      <link rel="stylesheet" href="../css/css-forgetPassword/responsive.css" />

      <!-- alert -->
      <link rel="stylesheet" href="../css/css-alert/style.css" />

      <title>Quên mật khẩu</title>
   </head>
   <body>
      <div class="container">
         <div class="content">
            <div class="orange">
               <img src="../images/Saly-3.png" alt="" class="image__bg" />
            </div>
            <div class="white">
               <img src="../images/Saly-2.png" alt="" class="image__bg" />
            </div>
            <div class="form__container">
               <div class="welcome">
                  <p>Chào mừng bạn đến với Let's Food</p>
                  <h2>Quên mật khẩu</h2>
               </div>

               <form action="/user/reset_password" method="POST" class="form__content">
                  <label for="" class="label">Địa chỉ email hoặc username</label>
                  <input
                     type="text"
                     class="input"
                     name="inputForgot"
                     placeholder="Nhập địa chỉ email hoặc username của bạn" />
                  <button type="submit" class="btn">Quên mật khẩu</button>
               </form>

               <div class="footer">
                  <span>Bạn đã có tài khoản?</span>
                  <a href="/auth/getLoginLocal">Đăng nhập</a>
               </div>
            </div>
         </div>
      </div>

      <!-- alert -->
      <% if(message.length > 0) { %>
      <div class="alert">
         <div class="alert-error alert__container">
            <div class="alert-error__icon alert__icon">
               <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="alert-error__content alert__content">
               <p class="alert-error__desc alert__desc"><%= message %></p>
            </div>
            <div class="alert__icon alert__icon-close">
               <i class="fas fa-times"></i>
            </div>
         </div>
      </div>
      <% } %>

      <!-- javascript -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>

      <!-- javascript alert -->
      <script src="../javascript/alert.js"></script>
   </body>
</html>
