<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
	<head>
		<title>Node Authentication</title>
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
		<!-- load bootstrap css -->
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
		<!-- load fontawesome -->
		<style>
			body {
				padding-top: 80px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1><span class="fa fa-lock"></span> Node Authentication</h1>
				<p>Login or Register with:</p>
				<a href="/auth/getLoginLocal" class="btn btn-default"
					><span class="fa fa-user"></span> Local Login</a
				>
				<a href="/auth/signup" class="btn btn-default"
					><span class="fa fa-user"></span> Local Signup</a
				>
				<a href="/v2/auth/google" class="btn btn-danger"
					><span class="fa fa-google-plus"></span> Google</a
				>
				<a href="/v2/auth/facebook" class="btn btn-primary"
					><span class="fa fa-facebook"></span> Facebook</a
				>
			</div>
		</div>

		<script>
			window.fbAsyncInit = function () {
				FB.init({
					appId: '1170110223599074',
					cookie: true,
					xfbml: true,
					version: 'v15.0',
				});

				FB.getLoginStatus(function (response) {
					statusChangeCallback(response);
				});
			};

			(function (d, s, id) {
				var js,
					fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk.js';
				fjs.parentNode.insertBefore(js, fjs);
			})(document, 'script', 'facebook-jssdk');

			function statusChangeCallback(response) {
				if (response.status === 'connected') {
					console.log('Logged in and authenticated');
				} else {
					console.log('Not authenticated');
				}
			}

			function checkLoginState() {
				FB.getLoginStatus(function (response) {
					statusChangeCallback(response);
				});
			}
		</script>

		<fb:login-button scope="email" onlogin="checkLoginState();"> </fb:login-button>
	</body>
</html>
