<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- font google -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
         rel="stylesheet" />

      <!-- css -->
      <link rel="stylesheet" href="../css/css-productItem/style.css" />

      <!-- alert -->
      <link rel="stylesheet" href="../css/css-alert/style.css" />

      <title>Bánh mì thịt nướng</title>
   </head>
   <body>
      <div class="root">
         <div class="container">
            <nav class="navbar">
               <a class="back-home" href="/home">
                  <i class="fas fa-arrow-left"></i>
                  Trang chủ
               </a>
               <div class="product-name">
                  <h3>Bánh mì thịt nướng</h3>
               </div>
            </nav>

            <div class="content">
               <img src="" alt="" class="product__img" />
               <div class="product__content">
                  <h2 class="product__name"></h2>
                  <p class="product__desc"></p>
                  <div class="product__price">
                     <span class="product__price--old"> </span>
                  </div>
                  <button class="btn btn__add-cart">
                     <i class="fas fa-shopping-cart"></i>
                     Thêm vào giỏ hàng
                  </button>
               </div>
            </div>

            <div class="product__desc-container">
               <h3 class="product__desc--title">Mô tả sản phẩm</h3>
               <p class="product__desc--content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem consequuntur unde cum ex architecto, corporis necessitatibus, dolore repellat, vero voluptatibus? Sunt doloremque et ut fugit earum laudantium maiores odio!
               </p>
            </div>

            <div class="slider__product">
               <h2 class="title">
                  <i class="fas fa-fire"></i>
                  Sản phẩm nổi bật
               </h2>
               <div class="slider__product__list"></div>
            </div>
         </div>
      </div>

      <!-- javascript -->
      <script src="https://kit.fontawesome.com/7dd86c08e8.js" crossorigin="anonymous"></script>
      <script src="../javascript/productItem.js"></script>
   </body>
</html>
