@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .form__container {
        width: 90%;
        max-height: 90%;
        padding: 30px 20px;
        border-radius: 20px;
        /* padding: 0 15px; */
    }

    .welcome p {
        font-size: 14px;
    }

    .welcome h2 {
        font-size: 30px;
    }

    .or {
        margin: 10px 0;
    }

    .social__item span {
        display: none;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .image__bg {
        display: none;
    }
}