*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
   font: inherit;
   scroll-behavior: smooth;
}
body {
   font-family: 'Readex Pro', sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
}
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}
input,
button,
textarea,
select {
   outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
}

:root {
   --max-width: 1200px;
   --background-color: #fff9ea;
   --yellow-color: #ffcb45;
   --orange-color: #ffac4b;
   --black-color: #1d1d1d;
}

.btn {
   color: var(--black-color);
   font-weight: 700;
   border: none;
   outline: none;
   background-color: var(--yellow-color);
   padding: 1rem 2rem;
   border-radius: 50px;
   transition: all 0.3s ease-in-out;
}

.btn:hover {
   background-color: var(--orange-color);
}

.root {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
}

.navbar {
   background-color: var(--background-color);
   width: 20vw;
   height: 100vh;
}

.logo {
   padding: 20px 0;
}

.logo img{
   margin: 0 auto;
}

.navbar__menu {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.navbar__item {
   display: flex;
   align-items: center;
   gap: 15px;
}

.home {
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home__link {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   font-size: 1.4rem;
   color: var(--black-color);
   font-weight: 600;
   border: 2px solid var(--black-color);
   padding: 0.5rem 1rem;
   border-radius: 5px;
}

.container {
   background-color: var(--orange-color);
   width: 80vw;
   height: 100vh;
}

.add__product {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.title {
   font-size: 2rem;
   font-weight: 700;
   color: var(--black-color);
   margin-bottom: 20px;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.form__group {
   width: 800px;
   display: flex;
   align-items: center;
   gap: 20px;
}

.form__label {
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--black-color);
   width: 30%;
}

.form__input {
   width: 70%;
   height: 40px;
   border: none;
   border-radius: 5px;
   padding: 0 10px;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--black-color);
}

.form__group textarea {
   height: 100px;
   resize: none;
}

.btn__add {
   margin-left: auto;
}

.edit__product {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.edit__product__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.edit__product__item {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 10px 0;
   border-bottom: 1px solid var(--black-color);
}

.edit__product__content {
   display: flex;
   align-items: center;
   gap: 20px;
}

.edit__product__block {
   display: flex;
   align-items: center;
   gap: 20px;
}

.edit__product__label {
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--black-color);
}

.edit__product__input {
   width: 200px;
   height: 40px;
   border: none;
   border-radius: 5px;
   padding: 0 10px;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--black-color);
}

.edit__product__item__action {
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 20px;
}

.button_form {
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 10px;
}