*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}
body {
    font-family: 'Readex Pro', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --max-width: 1200px;
    --background-color: #fff9ea;
    --yellow-color: #ffcb45;
    --orange-color: #ffac4b;
    --black-color: #1d1d1d;
}

.btn {
    color: var(--black-color);
    font-weight: 700;
    background-color: var(--yellow-color);
    padding: 1rem 2rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--orange-color);
}

.header {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header.active {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.header__container {
    max-width: var(--max-width);
    background-color: var(--background-color);
    margin: 0 auto;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__text {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 600;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar__item__link {
    position: relative;
    font-weight: 500;
    font-size: 22px;
    color: rgba(29, 29, 29, 0.7);
    transition: all 0.3s ease-in-out;
}

.navbar__item__link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--yellow-color);
    transition: all 0.3s ease-in-out;
}

.navbar__item__link:hover.navbar__item__link::after {
    width: 100%;
}

.navbar__item__link:hover {
    color: var(--black-color);
}

.navbar__item__link.active {
    color: var(--black-color);
}

.navbar__item__link.active::after {
    width: 100%;
}

.navbar__toggle__mb {
    width: 35px;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(29, 29, 29, 0.7);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: none;
    z-index: 20;
}

.navbar__toggle__mb::before,
.navbar__toggle__mb::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(29, 29, 29, 0.7);
    transition: all 0.3s ease-in-out;
}

.navbar__toggle__mb::before {
    top: -10px;
}

.navbar__toggle__mb::after {
    bottom: -10px;
}

.navbar__toggle__mb.active::before {
    transform: rotate(45deg) translate(10px, 5px);
}

.navbar__toggle__mb.active::after {
    transform: rotate(-45deg) translate(10px, -5px);
}

.navbar__toggle__mb.active {
    background-color: transparent;
}

.login__mb {
    display: none;
}

.navbar__cart__login {
    display: flex;
    gap: 28px;
    align-items: center;
}

.navbar__cart {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.navbar__cart-icon {
    color: var(--black-color);
}

.navbar__cart__number {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--yellow-color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -10px;
}

.account {
    position: relative;
}

.account__avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.account__container {
    background-color: white;
    position: absolute;
    top: 50px;
    right: -10px;
    min-width: 250px;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.account__item {
    padding: 10px 20px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.account__item:hover {
    background-color: #f5f5f5;
}

.account__item > a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account__item > a > span {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
}

.account__item > a > i {
    font-size: 18px;
    color: var(--black-color);
}

.account__item > a > i:hover {
    color: var(--orange-color);
}

.account__item > a > span:hover {
    color: var(--orange-color);
}

.account:hover .account__container {
    opacity: 1;
    visibility: visible;
}


/* SERVICES & MENU */
.serve {
    margin-top: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.serve__content {
    text-align: center;
}
.serve__header {
    text-align: center;
    color: var(--yellow-color);
    font-weight: 500;
    font-size: 18px;
}

.serve__title {
    margin-top: 7px;
    color: var(--black-color);
    font-weight: 700;
    font-size: 30px;
}

.serve__description {
    margin-top: 26px;
    max-width: 660px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(29, 29, 29, 0.7);
}

.serve__content__items {
    padding: 0 15px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.serve__content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 241px;
}

.serve__title__item {
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    color: var(--black-color);
    margin-left: auto;
    margin-right: auto;
}
.serve__description__item {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(29, 29, 29, 0.7);
}

/* MENU */
.menu {
    margin-top: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.menu__content {
    text-align: center;
}
.menu__header {
    text-align: center;
    color: var(--yellow-color);
    font-weight: 500;
    font-size: 18px;
}

.menu__title {
    margin-top: 7px;
    color: var(--black-color);
    font-weight: 700;
    font-size: 30px;
}

.menu__description {
    margin-top: 26px;
    font-weight: 500;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(29, 29, 29, 0.7);
}

.menu__items {
    max-width: var(--max-width);
    padding: 0 15px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu__item {
    flex-basis: 25%;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: drop-shadow(2px 5px 12px rgba(0, 0, 0, 0.15));
    transition: all 0.3s ease-in-out;
}

.menu__item:hover {
    transform: scale(1.05);
}

.img__menu {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.menu__title__item {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    color: var(--black-color);
    text-align: center;
}
.menu__description__item {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(29, 29, 29, 0.7);
    text-align: center;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price__item {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
    margin-right: 22px;
}

.price__item p {
    font-weight: 500;
    font-size: 22px;
}

.price__item > i:hover {
    color: var(--yellow-color);
}

.menu__item-icon {
    color: var(--black-color);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.menu__item-icon:hover {
    color: var(--yellow-color);
}

/* menu button */

.menu__button {
    margin-top: 70px;
    border: none;
    display: flex;
    justify-content: center;
}

.menu__button button {
    border: none;
}

/* ABOUT */
.about {
    position: relative;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 0 15px;
}

.about__image div {
    margin-top: 15px;
    gap: 15px;
    display: flex;
    padding: 0;
}

.about__content {
    position: absolute;
    top: 5%;
    left: 50%;
    max-width: 50vw;
    margin-top: 15px;
}

.about__content h3 {
    color: var(--yellow-color);
    font-weight: 500;
    font-size: 22px;
}

.about__content h1 {
    color: var(--black-color);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 32px;
    max-width: 480px !important;
}

.about__content-comment {
    position: relative;
    display: flex;
    border-radius: 10px;
    margin-bottom: 15px;
}

.about__content-user {
    display: flex;
    gap: 18px;
    margin-bottom: 24px;
}

.about__content-user div > h3 {
    font-weight: 500;
    font-size: 20px;
    color: var(--black-color);
}

.about__content-description p {
    font-weight: 400;
    font-size: 18px;
    color: rgba(29, 29, 29, 0.7);
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -15%;
    left: 1%;
    transform: translateX(-50%, 50%);
}

.slick-dots button {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 4px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: none;
    font-size: 0;
}

.slick-dots .slick-active button,
.slick-dots button:hover {
    background-color: var(--yellow-color);
}

.slider {
    background-color: #f1f1f1;
    padding: 28px 20px;
    border-radius: 10px;
    animation: slide 0.5s ease-in-out;
}

.slick-initialized .slick-slide {
    margin: 0 10px;
    max-width: 480px;
}

/* JOIN */
.join {
    padding: 0 15px;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
    margin-bottom: 80px;
}

.join__content > img {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71));
}

.join .join__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.join .join__content-container {
    color: white;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.join__content > button {
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 50px;
    border: none;
}

/* FOOTER */

.footer {
    background-color: var(--background-color);
    position: relative;
}

.footer__container {
    padding: 80px 15px;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.footer__about__address {
    max-width: 300px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(29, 29, 29, 0.7);
}

.social {
    margin-top: 30px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.social__item {
    font-size: 24px;
    color: var(--black-color);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(29, 29, 29, 0.15);
    transition: all 0.3s ease-in-out;
}

.social__item:hover {
    background-color: var(--yellow-color);
    box-shadow: 0px 4px 24px rgba(29, 29, 29, 0.25);
}

.footer__link__title {
    font-size: 20px;
    color: var(--black-color);
    font-weight: 600;
    margin-bottom: 30px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__item__link {
    font-size: 18px;
    color: var(--black-color);
    opacity: 70%;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.footer__item__link:hover {
    opacity: 100%;
}

.footer__line {
    max-width: var(--max-width);
    height: 1px;
    background-color: rgba(29, 29, 29, 0.5);
    margin: 0 auto;
}

.footer__bottom {
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    font-weight: 500;
}

.footer__decor__1 {
    position: absolute;
    top: 60px;
    right: 22%;
}

.footer__decor__2 {
    position: absolute;
    top: 45%;
    left: 55%;
}

.footer__decor__3 {
    position: absolute;
    top: 70px;
    left: 40%;
}

/* HOME */
.home {
    padding-top: 108px;
    background-color: var(--background-color);
    position: relative;
}

.home__decor {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.home__container {
    padding: 0 15px;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__title {
    max-width: 480px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
}

.home__title span {
    color: var(--yellow-color);
}

.home__description {
    max-width: 450px;
    font-size: 18px;
    margin-top: 20px;
    color: var(--black-color);
    opacity: 70%;
    margin-bottom: 30px;
}

.home__img {
    position: relative;
}

.home__img__decor-2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.home__img__decor-3 {
    position: absolute;
    bottom: 30px;
}
